body {
  background-color: #fafafa;
  color: rgb(0, 0, 0);
  padding: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.bg-white{
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 5px;
  display: inline-block;
  padding: 50px;
  margin: 10px;
}